@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0C0A1A;
  background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
}

.bg-background {
  background-color: #0C0A1A;
  background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
}

.typewriter-cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: #a9a3c2;
  margin-left: 2px;
  vertical-align: middle;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.typewriter-cursor.blinking {
  animation: blink 1s infinite;
}