# Dependencies
node_modules/
/.pnp
.pnp.js

# Build artifacts
/.next/
/out/

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python virtual environment
/backend/venv/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd